apache-airflow==2.9.2
apache-airflow-providers-apache-spark==4.10.0
airflow-clickhouse-plugin==1.4.0
confluent-kafka==2.5.0
fastavro==1.9.5
openmeteo-requests==1.2.0
pyspark==3.5.1
python-decouple==3.8
requests==2.32.3
